*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: auto;
    background-color: rgb(31, 31, 31);
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: rgb(255, 255, 255);
}

.weather-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.weather-title{
    margin: 3rem 0rem;
}

.component-container{
    padding: 2rem 1.2rem;
    background: linear-gradient(to bottom, rgb(3, 3, 153), rgb(0, 172, 219));
    border-radius: 0.5rem;
    margin: 0.5rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar{
    display: flex;
    align-items: center;
    width: 18rem;
    height: 1.4rem;
    background: rgb(255, 255, 255);
    padding: 1rem 0.5rem;
    border-radius: 0.5rem;
}

.search-image{
    width: 1rem;
    object-fit: contain;
    margin-right: 0.4rem;
}

.search-input{
    border: none;
    width: 18rem;
    height: 1.4rem;
}

.search-input:focus{
    outline: none;
}

.search-results{
    background-color: rgb(255, 255, 255);
    width: 18.9rem;
    border-radius: 0.4rem;
    margin-top: 0.3rem;
}

.search-error,
.search-result{
    list-style: none;
    /* height: 1.4rem; */
    color: rgb(0, 0, 0);
    font-size: large;
    border-bottom: 0.1rem solid rgb(207, 207, 207);
    padding: 0.3rem 1rem;
}

.search-result:hover{
    background: linear-gradient(to left, rgb(3, 3, 153), rgb(0, 172, 219));
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.search-result:last-child,
.search-error{
    border: none;
}

.weather-info-container{
    display: flex;
    align-items: center;
}

.weather-temp-info>h2{
    font-size: 3rem;
    margin: 0.3rem 0rem;
}

.weather-temp-info>p{
    font-size: 1.5rem;
    margin: 0.3rem 0rem;
}

.weather-location-info{
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-info-card{
    display: flex;
    align-items: center;
    margin: 0rem 0.5rem;
}

.weather-location-info>img,
.weather-info-card>img{
    width: 2rem;
    object-fit: contain;
    margin: 0rem 0.6rem;
}

.weather-info-card>div>h3,
.weather-info-card>div>p{
    margin: 0rem 0rem;
}

.weather-cards{
    display: flex;
    margin-top: 1rem;
}

.sprite-container
.icon{
    width: 8.25rem;
    height: 7.3rem;
}

.hide{
    display: none;
}

.error{
    color: rgb(255, 0, 0);
}

.icon-clear-day { background: url('./assets/icons.png') 0 0; }
.icon-rainy-day { background: url('./assets/icons.png') -132.5px 0; }
.icon-clear-night { background: url('./assets/icons.png') -265px 0; }
.icon-rainy-night { background: url('./assets/icons.png') -397.5px 0; }

.icon-cloudy { background: url('./assets/icons.png') 0 -117.75px; }
.icon-rain { background: url('./assets/icons.png') -132.5px -117.75px; }
.icon-snowing { background: url('./assets/icons.png') -265px -117.75px; }
.icon-hot { background: url('./assets/icons.png') -397.5px -117.75px; }

.icon-mist { background: url('./assets/icons.png') 0 -235.5px; }
.icon-cloudy-day { background: url('./assets/icons.png') -132.5px -235.5px; }
.icon-snow { background: url('./assets/icons.png') -265px -235.5px; }
.icon-rain { background: url('./assets/icons.png') -397.5px -235.5px; }

.icon-rainy-thunderstorm { background: url('./assets/icons.png') 0 -353.25px; }
.icon-tornado { background: url('./assets/icons.png') -132.5px -353.25px; }
.icon-rain-snow { background: url('./assets/icons.png') -265px -353.25px; }
.icon-thunderstorm { background: url('./assets/icons.png') -397.5px -353.25px; }